html {
  scroll-behavior: smooth;
}

#header .flag-icon {
  right: 5px;
}

#user-country-flag .flag-icon {
  right: 5px;
}

#world-totals img {
  max-width: 50px;
  margin: 0 auto;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-root:first-child:hover {
  cursor: pointer;
}
